<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} Password Reset</title>
    {% endblock %}
</head>


<style>
    p, h3 { text-align: center;}
    h2 { text-align: center; color: white;}
    .form-row { display: flex; flex-direction: row;}
    footer { background-color: rgb(19, 6, 212); width: "100%"; position: fixed; bottom: 0; right: 0; left: 0;}
    header { background-color: rgb(19, 6, 212); height: 100px; align-items: center; display: flex; justify-content: center;}

</style>

<header>
  <h2>Reset Password</h2>
</header>

<div class="mt-5">
<h3>Password reset sent</h3>

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

</div>

<footer class='d-flex justify-content-center mt-auto'>
 <img src="{% static 'images/footerlogo.png' %}" alt="Charity Shop USA Logo" class="img-fluid"> 
</footer>

