<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} Password Reset</title>
    {% endblock %}
</head>


<style>
    h2, p { text-align: center;}
    .form-row { display: flex; flex-direction: row;}

    body {background-color: rgb(19, 6, 212);}

    h2, p {
    color: rgb(255, 255, 255);
}

</style>


<h2>Password reset sent</h2>

<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

</p>

